/* mulish font */
<style>
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap')
</style>
/* share style */
*{
  font-family: "Mulish", sans-serif;
}
body{
    margin-left: 240px;
    margin-right: 240px;
}
.text-description-color{
    color: #FFF;
    font-size: 1rem;
}
.text-description-color1{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
/* header section start */
/* nav section style */
label{
    display: flex;
    align-items: center;
}
label > brand-logo{
    display: flex;
}
.brand-logo{
    width: 50px;
    height: 60px;
}
.nav-title{
    margin-left: 10px;
}
.nav-title .exclu-sive{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-title .travels{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 400px;
    font-size: 1.15rem;
}
nav li a{
    text-decoration: none;
    color: #424247;
}
.active{
    color: #FF5400;;
}
.nav-title{
    font-size: 1.25rem;
    font-weight: 800;
}
/* header banner section  */
.banner{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 135px;
    padding-left: 135px;
    width: 1170px;
    height: 500px;
    text-align: center;
}
.banner-content{  
    margin: 0 auto;
    font-size: 4rem;
} 
#text-description{
    max-width: 676px;
    margin: 0 auto;
}
.travel{
    color: #FFF;
    margin-left: 280px;
    margin-right: 280px;
    padding-top: 100px;
    font-size: 4rem;
    font-weight: 800;
}
.icons{
    height: 20px;
    width: 20px;
    padding-left: 20px;

}
.icons1{
    height: 20px;
    width: 20px;
    padding-right: 10px;
}
.button{
    padding: 60px;
}
.btn-primary, .btn-primary1{
    font-size: 1rem;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    cursor: pointer;
    border: 0;
}
.btn-primary{
    color: rgba(19, 19, 24, 0.50);
}
.btn-primary1{
    background-color: #FF5400; 
    color: #FFF;
}
/* populer toure section */
.popular-tours{
        margin: 100px 135px;
        display: flex;
        gap: 50px;
}
.popular-tours-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
#text-measurment{
    margin-right: 30px;
    padding-top: 25px;
    width: 560px;
}
#text-measurment1{
    margin-right: 30px;
    padding-top: 16px;
    width: 500px;
}
.text-measurment2{
    padding-top: 25px;
    width: 500px;
}
.btn-primary11{
    margin-top: 50px;
    font-size: 1rem;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    cursor: pointer;
    border: 0;
}
/* destination section */
.destination-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.choose-destination{
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
}
#destnation-text{
padding-bottom: 50px;
}
.grid-wrapper{
    display: grid;
    grid-gap: 10px;
    box-sizing: border-box;
    background-color: #FFF;




/* footer section */
.footer{
width: 1440px;
height: 502px;
text-align: center;
margin: 0 auto;
background: rgba(19, 19, 24, 0.05);
}
.footer-title{
    font-size: 1.25rem;
    font-weight: 800; 
}
.footer-title .exclu-sive{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.footer-title .travels{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.brand-logo1{
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}
.footer-description{
    max-width: 770px;
    text-align: center;
    margin: 0 auto;
}
.footer-icon{
    max-width: 100px;
    text-align: center;
    margin: 0 auto;
    padding-top: 33px 0px;   
}
.copy-rights{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}












/* responsive media queries */
/* mobile device */
@media screen and (max-width: 576px) {
    header{
        padding: 30px;
    }
    nav{
        flex-direction: column;
    }
}